affine==2.3.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1625835497933/work
chardet @ file:///D:/bld/chardet_1610093646853/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1622246659049/work
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1612431017778/work
cryptography @ file:///D:/bld/cryptography_1616851649655/work
cycler==0.10.0
decorator==4.4.2
et-xmlfile==1.1.0
Fiona==1.8.20
GDAL==3.3.1
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1623249625470/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1626114677070/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
imageio==2.9.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099948875/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
matplotlib @ file:///D:/bld/matplotlib-suite_1628521389216/work
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1619028378680/work
munch==2.5.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1627363373051/work
numpy @ file:///D:/bld/numpy_1626648523149/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.3.56
openpyxl==3.0.7
pandas @ file:///D:/bld/pandas_1627224193416/work
Pillow @ file:///D:/bld/pillow_1625678130042/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1628240745699/work
PySocks @ file:///D:/bld/pysocks_1610291742246/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets==1.1.1
rasterio==1.2.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
reverse-geocoder==1.5.1
Rtree @ file:///D:/bld/rtree_1626988014406/work
scikit-image==0.18.2
scikit-learn @ file:///D:/bld/scikit-learn_1628432194916/work
scipy @ file:///C:/bld/scipy_1628206591178/work
Shapely==1.7.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snuggs==1.4.7
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1626092076920/work
tifffile==2021.8.8
tornado @ file:///D:/bld/tornado_1610094858390/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
wincertstore==0.2
